<div class="container-fluid backgroundplace">

  <!-- Bouton de redirection -->
  <div class="row pt-4">
    <div class="offset-lg-10">
      <button routerLink="/" routerLinkActive="active">Home page</button>
      <button *ngIf="authenticated" (click)="logout()" class="buttonlogout mt-1 ml-2" routerLink="/" routerLinkActive="active">
        <span>Logout</span>
      </button>
    </div>
  </div>

  <!-- Titre -->
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h1>Place your boats here to begin the game</h1>
      </div>
    </div>
    





<!-- <div class="mx-auto">
        <h1 class="textconstruction">In construction</h1>
      </div> -->