.backgroundplace
{
    background: url(https://orig00.deviantart.net/d3d9/f/2015/120/6/6/steamroombackground_by_wonderwig-d8rmbgx.gif);
    background-size: cover;
    height: 800px;
}
.container-fluid 
{
    font-family: 'Berkshire Swash', cursive;
    color: black;
}
.color 
{
    color: white;
    border: 1px solid white;
    border-top: 1px solid yellow;
}

.tablemargin 
{
    margin-top: 150px;
}







/* .textconstruction 
{
    font-size: 40px;
}
 */
