.backgroundplace
{
    background: linear-gradient(#BEE2EF, #71CCED);
    height: 800px;
}
.container-fluid 
{
    font-family: 'Berkshire Swash', cursive;
    color: black;
}








/* .textconstruction 
{
    font-size: 40px;
}
 */
