
/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("http://www.hd-wallpaper.images-fonds.com/modules/mg3/albums/Mer_(sea)_Wallpaper_HD/Mer_(sea)_wallpaper_HD_0035.jpg");
    background-size: cover;
    height: 100vh;
}