/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("http://www.hanedanrpg.com/photos/hanedanrpg/17/80599.jpg");
    top: 0;
    right : 0;
    left: 0;
    bottom: 0;
    background-size: cover;
}