/* You can add global styles to this file, and also import other style files */
body {
<<<<<<< HEAD
    background-image: url("http://www.hd-wallpaper.images-fonds.com/modules/mg3/albums/Mer_(sea)_Wallpaper_HD/Mer_(sea)_wallpaper_HD_0035.jpg");
    background-size: cover;
    height: 100vh;
}
=======
    background-image: url("http://www.hanedanrpg.com/photos/hanedanrpg/17/80599.jpg");
    top: 0;
    right : 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

>>>>>>> 1f93f42c5c2bbcdc1e293395f47fb212f3d5f47c
