/* Matchmaking Component */
.container-fluid 
{
    background: url("https://cdn.dribbble.com/users/106600/screenshots/2156764/firefly2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
    height: 800px;
}
h1 {
    color: white;
    font-size: 60px;
}

.margintoptitle 
{
    margin-top: 110px;
}