/* Home page */

@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

.container-fluid
{
    background: url(https://i.pinimg.com/originals/68/39/74/6839747c4dce24ced5a71334bf7df7ea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Love Ya Like A Sister', cursive;
}

h1 
{
    color: white;
    text-shadow: 3px 3px 2px rgb(22, 15, 119);
    text-align: center;
    font-size: 5.5vw;
}

.videoplay 
{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    max-width: 800px;
}
.buttonplay
{
    width: 600px;
    height: 70px;
    border: 2px solid;
    border-radius: 14px;
    font-size: 40px;
    color: white;
    background-color: #730F00;
    font-family: 'Berkshire Swash', cursive;
}
.buttonplay span 
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}  
.buttonplay span:after 
{
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.buttonlogout span 
{
    color:white;
}
.buttonlogout 
{
    width: 50%;
    height: 39%;
    background-image: url("assets/Image/Backgroundaccueil.jpg");
    border-radius: 10px;
    border: transparent;
}

#panel {
    padding: 5px;
    text-align: center;
    border: solid 2px white;
    color: white;
    font-size: 15px;
    display: none;
}
#flip  a {
    color: white;
    text-align: center;
    font-size: 25px;
}
#flip  a:hover {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}
