<div class="container-fluid">
    <div class="row pt-2">
        <div class="offset-3 col-6">
            <h1>Welcome to Navy-Battle Games !</h1>
        </div>
        <div class="offset-1 col-2">
            <button *ngIf="authService.authenticated" (click)="logout()" class="buttonlogout mt-1 ml-2">
                <span>
                    <img src="assets/Image/exit.png" alt="logout">Logout</span>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9 mx-auto mt-3 videoplay">
            <iframe class="embed-responsive-item" src="assets/Videos/Videoaccueil.mp4"></iframe>
        </div>
        <div class="row mt-4">
            <div class="mx-auto" style="text-align: center">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Hello my world </h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>what the hell</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>

                <button class="btn btn-lg btn-outline-primary" (click)="open(content)">The Rules</button>

                <hr>

                <pre>{{closeResult}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto pt-4 pb-4">
                <button *ngIf="!authService.authenticated" (click)="login()" class="buttonplay">
                    <span>Sign in</span>
                </button>
                <button *ngIf="authService.authenticated" class="buttonplay" routerLink="/boat-position" routerLinkActive="active">
                    <span>Play now !</span>
                </button>
            </div>
        </div>
    </div>
</div>