/* Home page */
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');


.container-fluid
{
    /* background: url(https://i.pinimg.com/originals/68/39/74/6839747c4dce24ced5a71334bf7df7ea.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Love Ya Like A Sister', cursive; */
}

h1 
{
    color: white;
    text-shadow: 4px 4px 3px rgb(22, 15, 119);
    text-align: center;
    font-size: 5vw;
    font-family: 'Walter Turncoat', cursive;
}

.videoplay
{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    max-width: 800px;
}
.buttonplay
{
    width: 600px;
    height: 70px;
    border: 2px solid;
    border-radius: 14px;
    font-size: 40px;
    color: white;
    background-color:#8B0000;
    font-family: 'Walter Turncoat', cursive;
}
.buttonplay span 
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}  
.buttonplay span:after 
{
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.buttonlogout span 
{
    color:white;
    font-family: 'Walter Turncoat', cursive;
}
.buttonlogout 
{
    width: 50%;
    height: 39%;
    background: none;
    border: 2px solid white;
    border-radius: 18px;
}

#panel {
    padding: 5px;
    text-align: center;
    border: solid 2px white;
    color: white;
    font-size: 15px;
    display: none;
}
#flip  a {
    color: white;
    text-align: center;
    font-size: 25px;
}
#flip  a:hover {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.rules{
    font-family: 'Walter Turncoat', cursive;
}
