<div class="container-fluid">
    <div class="row pt-2">
        <div class="offset-3 col-6">
            <h1>Welcome to Navy-Battle Games !</h1>
        </div>
        <div class="offset-1 col-2">
            <button *ngIf="authenticated" (click)="logout()" class="buttonlogout mt-1 ml-2">
                <span>
                    <img src="assets/Image/exit.png" alt="logout">Logout</span>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9 mx-auto mt-3 videoplay">
            <iframe class="embed-responsive-item" src="assets/Videos/Videoaccueil.mp4"></iframe>
        </div>
        <div class="row mt-4">
            <div class="mx-auto" style="text-align: center">
                <!-- Trigger/Open The Modal -->
                <button id="myBtn">Open Modal</button>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Some text in the Modal..</p>
                    </div>

                </div>
                <div id="flip">
                    <a href="#">Click to check the rules</a>
                </div>
                <div id="panel">The object of Battleship is to try and sink all of the other player's before they sink all of your ships.
                    All of the other player's ships are somewhere on his/her board. You try and hit them by calling out the
                    coordinates of one of the squares on the board. The other player also tries to hit your ships by calling
                    out coordinates. Neither you nor the other player can see the other's board so you must try to guess
                    where they are. Each board in the physical game has two grids: the lower (horizontal) section for the
                    player's ships and the upper part (vertical during play) for recording the player's guesses.</div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto pt-4 pb-4">
                <button *ngIf="!authenticated" (click)="login()" class="buttonplay">
                    <span>Sign in</span>
                </button>
                <button *ngIf="authenticated" class="buttonplay" routerLink="/boat-position" routerLinkActive="active">
                    <span>Play now !</span>
                </button>
            </div>
        </div>
    </div>
</div>